<%= named_list(task.id) do %>
	<%= checkbox_for_task task, reopen_task_path(task) %>
	<span class="date">(<%= task.updated_at_for_user %>)</span>
	<%= label_for task %>
	<%= link_to_remove task %>
<% end %>