<%= form_for task, remote: true do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<div class="spinner"></div>
	<br>
	<%= f.submit %>
	<% if task.new_record? %>
		<%= link_to "I'm done adding tasks", '#', id: 'cancel-task-form' %>
	<% else %>
		or <%= link_to "Cancel", task_path(task), remote: true %>
	<% end %>
<% end %>
