<%= form_for task, remote: true do |f| %>
	<% task.errors.full_messages.each do |msg| %>
		<div class="error_msg"><%= msg %></div>
	<% end %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<div class="spinner"></div>
	<br>
	<%= f.submit data: { disable_with: 'Saving...' } %>
	<%= task.cancel(self) %>
<% end %>
